<!DOCTYPE html>
<html>
<head>
	<title>Cloud-Photos-Organizer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap-theme.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/main.css" %}">

</head>
<body>
	<!-- Start navigation block-->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'index' %}">SPicO</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      	<ul class="nav navbar-nav">
		        <li class><a href="{% url 'index'  %}">My accounts</a></li>
		        <li class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		          		Categories<span class="caret"></span>
		          	</a>
		            <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Cat1</a></li>
			            <li><a href="#">Cat1</a></li>
			            <li><a href="#">Cat1</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Cat1</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Cat1</a></li>
		            </ul>
		        </li>
		        <li class="dropdown">
		          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		          		About Us!<span class="caret"></span>
		          	</a>
		            <ul class="dropdown-menu" role="menu">
			            <li><a href="#"><a href="{% url 'contact' %}">Contacts</a></li>
		            </ul>
		        </li>
	      	</ul>
	      	<ul class="nav navbar-nav navbar-right">
		      	{% if user.is_authenticated %}
		      		<li><a href="">Hello {{user.username}}!</a></li>
	      			<li><a href="{% url 'logout' %}">LogOut</a></li>
	      		{% else %}
		        	<li><a href="{% url 'login' %}">LogIn</a></li>
		        	<li><a href="{% url 'register' %}">Register</a></li>
		      	{% endif %}
	      	</ul>
	    </div>
	  </div>
	</nav>
	<!-- End navigation block-->

	<h1>Cloud Photo Organizer!</h1>

	<!-- Start main content block-->
	{% block main %}
	    
	{% endblock main %}
	<!-- End main content block-->

	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>