<!DOCTYPE html>
<html>
<head>
	<title>Cloud-Photos-Organizer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap-theme.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/main.css" %}">

</head>
<body>
	{% block main %}
	    
	{% endblock main %}
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>